#
# --- THIS FILE IS AUTOMATICALLY PROVISIONED THROUGH ANSIBLE ---
#

[Unit]
Description=Varnish Cache, a high-performance HTTP accelerator

[Service]
Type=forking
LimitNOFILE=131072
LimitMEMLOCK=82000
ExecStart=/usr/sbin/varnishd -a :{{ conf_varnish_listen_port }} -T localhost:{{ conf_varnish_listen_admin_port }} -f /etc/varnish/default.vcl -S /etc/varnish/secret -s {{ conf_varnish_storage_backend }} -p workspace_client={{ conf_varnish_parameter_workspace_client }}
ExecReload=/usr/share/varnish/reload-vcl

[Install]
WantedBy=multi-user.target
